
<div>
    <div class="container">
        
    <h1>My Bank</h1>
    <h4 style="color:rgb(42, 46, 165)">{{aim}}</h4>
    <input type="text" id="uname" placeholder="username">
    <br><br>
    <input [(ngModel)]="acno" type="text" id="accnt" name="acno" [placeholder]="account">
    <br><br>
    <input [(ngModel)]="pswd" type="password" id="pwd" name="password" placeholder="password">
    <br><br>
    <input class="login" type="button" (click)="login()" value="login" class="btn-btn-success mt-4">
    <br>
    <a href="">forget password</a><br><br>
    <a routerLink="register">Sign up</a>
    </div>

</div>
<!-- <app-dashboard></app-dashboard> -->
