.child1{
    position: absolute;
    right:800px;
    top:130px;

    
}
.child2{
    position:absolute;
    left:400px;
    top:140px;
    

}
#body{
    background-color: rgb(176, 167, 167);
    
}
.style1{
    opacity: 0;
}

