.container{
    width:400px;
    height:450px;
    background-color: rgb(90, 123, 128);
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 40px;
    text-align: center;
}
#accnt,#uname,#pwd{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login{
    padding-left:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#3636d7;
}
#accnt,#uname,#pwd{
    background-color:#e7e7dd;
}
body{
    background-image: url('https://i.postimg.cc/SNfzq0QM/2666319.webp');

}




