.container{
    width:400px;
    height:400px;
    background-color: rgb(78, 145, 155);
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 40px;
    text-align: center;
}
#accnt,#uname,#pwd{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login{
    padding-left:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#3636d7;
}
#accnt,#uname,#pwd{
    background-color:#a3a392;
}




