<form [formGroup]="registerForm">
    <div class="container">
    
    <h1>My Bank</h1>
    <input formControlName="uname" type="text" id="uname" name="uname" placeholder="username">
    <br><br>
    <input formControlName ="acno" type="texaccnt" id="accnt" name="acno" placeholder="Account number">
    <br><br>
    <input formControlName ="pswd" type="text" id="pwd" name="password" placeholder="password">
    <br><br>
    <input formControlName class="login" type="button" (click)="register()" value="Register" class="btn-btn-success mt-4">
    <br><br>
    <a routerLink="">Sign in</a>
    </div>

</form>